@page "{id}"
@model Exercise3.Pages.Recipes.DetailModel
@{
}
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <div class="list-group">
                        <div class="card-body text-dark list-group-item">
                            <h4 class="card-title text-center">@Model.FetchedRecipe.Title</h4>
                            <div class="text-center">
                                @foreach (var category in Model.FetchedRecipe.Categories)
                                {
                                    <span style="font-size:12px; margin-top:5px; margin-right: 5px;" class="badge rounded-pill bg-primary">@category</span>
                                }
                            </div>

                        </div>
                        <div class="card-body text-dark list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 class="card-title">Ingredients</h5>
                                        <ul class="list-group ">
                                            @foreach (var ingredient in Model.DetailedIngredients)
                                            {
                                                <li class="list-group-item">@ingredient</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title">Instructions</h5>
                                        <ol class="list-group list-group-numbered">
                                            @foreach (var instruction in Model.DetailedInstructions)
                                            {
                                                <li class="list-group-item">@instruction</li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-primary" asp-page="Edit"
                               asp-route-id="@Model.FetchedRecipe.Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-danger" asp-page="Delete"
                               asp-route-id="@Model.FetchedRecipe.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-secondary" asp-page="Index"
                               asp-route-id="@Model.FetchedRecipe.Id">
                                <i class="bi bi-arrow-return-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>