@page
@model Exercise3.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<h1 class="text-center my-4" style="color:white">Recipes</h1>
<div class="row row-cols-auto justify-content-center g-4">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-page="Detail"
                       asp-route-id="@recipe.Id">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a class="btn btn-secondary" asp-page="Edit"
                       asp-route-id="@recipe.Id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn btn-danger" asp-page="Delete"
                       asp-route-id="@recipe.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>
<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
        @foreach (Recipe recipe in Model.Recipes)
        {
            <tr>
                <td>@recipe.Title</td>
                <td>@recipe.Ingredients.Substring(0,@recipe.Ingredients.Length%10)...</td>
                <td>@recipe.Instructions.Substring(0,@recipe.Instructions.Length%10)...</td>
                <td>@String.Join(", ",recipe.Categories)...</td>
                <td>
                    <a class="btn btn-lg"
                   asp-page="Detail"
                   asp-route-id="@recipe.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                    <a class="btn btn-lg"
                   asp-page="Edit"
                   asp-route-id="@recipe.Id">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a class="btn btn-lg"
                   asp-page="Delete"
                   asp-route-id="@recipe.Id">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>*@

